IMAGE_TAG={{ release_tag }}
WEB_IMAGE={{ web_image }}
API_IMAGE={{ api_image }}
APP_DOMAIN={{ app_domain }}
POSTGRES_DB={{ postgres_db }}
POSTGRES_USER={{ postgres_user }}
POSTGRES_PASSWORD={{ postgres_password }}
DATABASE_URL=postgresql://{{ postgres_user }}:{{ postgres_password | urlencode }}@postgres:5432/{{ postgres_db }}?sslmode=disable
