GRAFANA_PROMETHEUS_URL={{ grafana_prometheus_url }}
GRAFANA_PROMETHEUS_USERNAME={{ grafana_prometheus_username }}
GRAFANA_ACCESS_POLICY_TOKEN={{ grafana_access_policy_token }}
MONITORING_INSTANCE={{ monitoring_instance }}
MONITORING_ENVIRONMENT={{ monitoring_environment }}
