AWS_ACCESS_KEY_ID={{ r2_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ r2_secret_access_key }}
RESTIC_PASSWORD={{ restic_password }}
RESTIC_REPOSITORY=s3:{{ r2_endpoint | regex_replace('/+$', '') }}/{{ r2_bucket }}
RESTIC_CACHE_DIR={{ backup_work_root }}/cache
